{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="py-3 text-center fw-bold">Panel d'administration</h1>
    <div class="card border-success mb-4 col-lg-8 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Utilisateurs</h5>
            <p class="card-text">Il y a actuellement {{ users }} utilisateur(s)</p>
            <div class="card-footer text-end bg-transparent border-success">
                <a href="{{ path('admin_utilisateurs') }}" class="btn btn-primary text-end border-dark bg-dark">Voir tous les utilisateurs</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-4 col-lg-8 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Franchises</h5>
            <p class="card-text">Il y a actuellement {{ franchises }} franchise(s)</p>
            <div class="card-footer text-end bg-transparent border-success">
                <a href="{{ path('admin_franchises') }}" class="btn btn-primary text-end border-dark bg-dark">Voir toutes les franchises</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-4 col-lg-8 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Salles</h5>
            <p class="card-text">Il y a actuellement {{ partners }} salle(s)</p>
            <div class="card-footer text-end bg-transparent border-success">
                <a href="{{ path('admin_salles') }}" class="btn btn-primary text-end border-dark bg-dark">Voir toutes les salles</a>
            </div>
        </div>
    </div>
    <div class="card border-success mb-4 col-lg-8 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Modules</h5>
            <p class="card-text">Il y a actuellement {{ modules }} module(s)</p>
            <div class="card-footer text-end bg-transparent border-success">
                <a href="{{ path('admin_modules') }}" class="btn btn-primary text-end border-dark bg-dark">Voir tous les modules</a>
            </div>
        </div>
    </div>
{% endblock %}