{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}
    <a href="{{ path('admin_index') }}" class="btn btn-success my-3">Retour au panel d'administration</a>
    <h1 class="p-2 text-center fw-bold">Liste des moduless</h1>
    <a href="{{ path('admin_nouveau_module') }}" class="btn btn-primary my-3">Créer un nouveau module</a>
    <div class="d-flex justify-content-around flex-wrap container mt-3">
        {% for module in modules %}
            <div class="card mx-auto mb-3 shadow" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ module.name }}</h5>
                    <p class="card-text">
                        <small class="">
                            {% if module.isActivate == 0 %}
                                <p class="badge text-bg-danger">Non activé</p>
                            {% else %}
                                <p class="badge text-bg-success">Activé</p>
                            {% endif %}
                        </small>
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="{{ path('admin_modifier_module', {'id': module.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('admin_supprimer_module', {'id': module.id}) }}" onclick="if(!confirm('Êtes vous sûr de vouloir supprimer {{ module.name }} ?')) { return false; }" class="btn btn-danger">Supprimer</a>
                    <a href="#" class="btn btn-success">Voir la fiche</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
