{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Liste des salles</h1>
    <div class="col-lg-10 mx-auto">
        {# <a href="{{ path('salle_nouvelle_salle') }}" class="mx-5"> #}
            <button class="btn btn-primary my-5">Créer une nouvelle salle</button>
        </a>
        <a href="{{ path('admin_index') }}" class="mx-5">
            <button class="btn btn-success my-5">Retour au panel d'administration</button>
        </a>
        <table class="table table-striped table-info col-lg-10">
            <thead class="text-center">
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Status</th>
                <th>Propriétaire</th>
                <th>Franchise</th>
                <th>Actions</th>
            </thead>
            <tbody class="text-center">
                <pre>
                </pre>
                {% for partner in partners %}
                    <tr>
                        <td>{{ partner.id }}</td>
                        <td>{{ partner.name }}</td>
                        <td>{{ partner.address }}</td>
                        <td>{{ partner.zipcode }}</td>
                        <td>{{ partner.city }}</td>
                        <td>{{ partner.email }}</td>
                        <td>
                            {% if partner.isIsActivate == 0 %}
                                Non activée
                            {% else %}
                                Activée
                            {% endif %}
                            
                        </td>
                        <td>{{ partner.getOwner.username }}</td>
                        <td>{{ partner.getFranchise.name }}</td>
                        <td>
                            {# <a href="{{ path('salle_voir_salle', {'id': partner.id}) }}" class="btn btn-success mx-1">Voir la fiche</a>
                            <a href="{{ path('salle_modifier_salle', {'id': partner.id}) }}" class="btn btn-warning mx-1">Modifier</a>
                            <a href="{{ path('salle_supprimer_salle', {'id': partner.id}) }}" class="btn btn-danger mx-1">Supprimer</a> #}
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center mx-auto">
                        <td colspan=10 >Aucune salle à afficher</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
